@charset "utf-8";
/* CSS Document */
#BackToTop {
	position: fixed;
	right: 50pt;
	bottom: 70pt;
}
div input[type="button"] {
	background-size: 100% 100%;
	height: 39pt;
	width: 61pt;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 20pt;
	margin-left: 20pt;
}
#Up {
	background-image: url(../imgaes/Up.jpg);
	
}
#Down {
	background-image: url(../imgaes/Down.jpg);
}

