@charset "utf-8";
/* CSS Document */
center img:first-child {
	height: 600px;
	width: 600px;
	margin-top: 40pt;	
}
h1 {
	font-size: 22pt;
	margin-top: 150pt;
	margin-bottom: 150pt;
	font-weight: bold;
}
center img {
	height: auto;
	width: 400px;	
}
pre {
	text-align: left;
	width: 61pt;
	margin-right: 550pt;
	font-size: 18pt;
	font-family: Arial;
	margin-top: 30pt;
}
h3 {
	text-align: center;
	font-size: 18pt;
	font-family: Arial;
	margin-top: 50pt;
	font-weight: normal;
	margin-left: 35pt;
	margin-top: 30pt;
}
center p{
	font-family: Arial;
	font-size: 32pt;
	color: #F60;
	margin-left: 35pt;
	margin-top: 100pt;
	margin-bottom: 10pt;
}
p+img {
	margin-left: 35pt;
}
h2 {
	text-align: left;
	width: 500pt;
	font-family: Arial;
	margin-top: 30pt;
	margin-left: -100pt;
	font-size: 22pt;
	margin-bottom:-10pt;
}
h2 + pre {
	margin-right: 500pt;	
}