@charset "utf-8";
/* CSS Document */
center img:first-child {
	height: 600px;
	width: 600px;
	margin-top: 40pt;	
}
center {
	width: 1500px;
}
p {
	font-size: 22pt;
	margin-top: 150pt;
	margin-bottom: 150pt;
	font-weight: bold;
}
center img {
	height: auto;
	width: 1100px;	
}
