@charset "utf-8";
/* CSS Document */
img {
	height: auto;
	width: 600pt;
	margin-top: 40pt;
}
h1{
	margin-top: 50pt;
	font-weight: normal;
	margin-right: 550pt;
	font-size: 26pt;
	color: #FFF;
	background-color: #FF0;
	width: 170pt;
}
h2{
	font-size: 24pt;
	font-weight: normal;
	margin-left: 215pt;
	text-align: left;
	color: #06F;
}
h3{
	font-size: 20pt;
	margin-left: 215pt;
	text-align: left;
}
h4{
	font-size: 16pt;
	margin-left: 55pt;
	font-weight: normal;
	width: 750pt;
	text-align: left;
}
